:root {
  --main-color: #0f4470;
  --main-light-color: #9fc5e8;
  --container-color: #cfe2f3;
  --text-color: #1a1d22;
  --bg-color: #0f4470;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: var(--main-light-color);
  margin-top: 20px;
}

.container {
  width: 90%;
  max-width: 1200px; /* Lărgește containerul */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 15px; /* Mărește padding-ul celulelor */
  text-align: left;
  font-size: 16px; /* Mărește dimensiunea fontului */
}

th {
  background-color: var(--main-light-color);
  color: #fff;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a.active {
  background-color: var(--main-light-color);
  color: black;
}

.pagination a:hover {
  background-color: var(--container-color);
}
