
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.header img {
    width: 100px;
    text-align: right;
}
.header h1 {
    width: 50px;
    text-align: left;
    height: auto;
    font-size: 12px;
}



.info {
    font-size: 24px;
    margin: 0;
    flex-grow: 1; 
    text-align: left;
}

.body {
    text-align: left;
    padding: 0 20px;
}
.body h1 {
    text-align: center;
    padding: 0 20px;
}

.body p {
    font-size: 16px;
    margin: 10px 0;
}

.footer {
    text-align: left;
    margin-top: 50px;
    padding-right: 20px;
}

.data {
    text-align: right;
    margin-top: 50px;
    padding-right: 20px;
}