:root {
    --main-color: #0f4470;
    --main-light-color: #9fc5e8;
    --container-color: #cfe2f3;
    --text-color: #1a1d22;
    --bg-color: #0f4470;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: var(--main-light-color);
}

.announcements, .pagination {
    width: 150%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
}

.announcement {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    padding-right: 100px; 
    position: relative;
    min-height: 100px; 
}

.announcement:last-child {
    border-bottom: none;
}

.date {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--main-light-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    font-size: 10px; /* Dimensiunea mică a textului */
}

.date .day {
    font-size: 14px;
    font-weight: bold;
}

.date .month-year {
    font-size: 10px;
}

h2 {
    margin: 0;
    color: #333;
}

p {
    margin: 10px 0 0;
    color: #555;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: var(--main-color);
    color: #fff;
}

.pagination a.active {
    background-color: var(--main-light-color);
    color: #fff;
    pointer-events: none;
}
