:root {
    --main-color: #0f4470;
    --main-light-color: #9fc5e8;
    --container-color: #cfe2f3;
    --text-color: #1a1d22;
    --bg-color: #0f4470;
  }
  
body {
    background-image: #b3d3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


* {
    font-family: cursive;
    box-sizing: border-box;
}

form {
    width: 500px;
    border: 3px solid #ffffff;
    padding: 50px;
    background: #ffffff;
    border-radius: 20px;
}


h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 38px;
    
}

input {
    display: block;
    border: 2px solid #348ed7;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(14, 160, 217);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

button:hover {
    background-color: #5661dd; 
}

.error {
    background: #F2DEDE;
    color: #0c01018a;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}


h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

a {
    float: center;
    background: rgb(252, 252, 252);
    padding: 10px 15px;
    color: #000000;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}



